@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'loader';

// :root{
//   --primary-color:#ea3840;
//   --primary-border-color:#d70711;
// }

html,
body {
  background-color: #f4f4f7;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// button:focus {
//   outline: 0;
// }

// a:hover,
// a:focus {
//   text-decoration: none !important;
//   outline: none !important;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }

// .btn-primary {
//   background-color: var(--primary-color);
//   border-color: var(--primary-border-colorr);
//   &:hover, &:active, &:focus {
//     background-color: var(--primary-color) !important;
//     border-color: var(--primary-border-color) !important;
//     box-shadow: none;
//   }
// }

// .form-control{
//   &:focus{
//     box-shadow: none;
//   }
// }

// .svg-inline--fa{
//   font-size: 1.5em;
// }
